@using Microsoft.AspNetCore.Mvc.Razor
@using NetCore.Web.AutoGenerateHtmlControl
@using WebApplication.Controllers
@model List<WebApplication.Controllers.DataTableViewModel>
@{
    ViewData["Title"] = "Index";
}


@Html.TableView(Model, @<a href="#" alt="@item.Title">查看</a>)


