@{
    ViewData["Title"] = "Generator Form";
}
@model WebApplication.Controllers.ArticleModel

@using NetCore.Web.AutoGenerateHtmlControl

<script>
    //此脚本用于生成编辑器和上传组件的模板代码

    //document.addEventListener("DOMContentLoaded", function () {
    //    if (hasuploader) {
    //        var uploaders = document.querySelectorAll(".uploader-container");
    //        if (!window.jQuery) {
    //            uploaders.forEach(function (item, _) {
    //                item.innerHTML = '<label style="color:red;">Please install jQuery first.</label>';
    //            });
    //            return;
    //        }
    //        if (!window.WebUploader) {
    //            uploaders.forEach(function (item, _) {
    //                item.innerHTML = '<label style="color:red;">Please install WebUploader first.</label>';
    //            });
    //            return;
    //        }

    //        var css = document.createElement('link');
    //        css.setAttribute("rel", "stylesheet");
    //        css.setAttribute('href', '/auto-generate-html-control/resources/css/uploader.min.css');
    //        document.querySelector('header').appendChild(css);

    //        var lib = document.createElement('script');
    //        lib.setAttribute('src', '/auto-generate-html-control/resources/js/uploader.min.js');
    //        lib.addEventListener("load", function () {
    //            $('#uploader1').InitUploader({});
    //        });
    //        document.querySelector("body").appendChild(lib);
    //    }

    //    if (haseditor) {
    //        if (window.ClassicEditor) {
    //            console.log(111);
    //            console.log(222);
    //        }
    //        else {
    //            document.querySelectorAll(".editor-container").forEach(function (item, _) {
    //                item.innerHTML = '<label style="color:red;">Please install CKEditor5 first.</label>';
    //            });
    //        }
    //    }
    //});

</script>

@await Html.GenerateFormAsync(Context, "/GenerateForm/post", FormMethod.Post, Model, null, () => Html.Raw("<div class=\"box-footer text-center\"><button class=\"btn btn-primary\">Submit</button></div>"), true)


@section Scripts{
    <script src="~/lib/webuploader/dist/webuploader.min.js"></script>
    <script src="~/lib/ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
}

@section Styles{
    @*<link href="~/lib/webuploader/webuploader.css" rel="stylesheet" />*@
    @*<link href="/resources/auto_generate_html_control/css/uploader.min.css" rel="stylesheet" />*@

    <style>
        .input-group { flex-direction: column; }
        #avatar-input-group { flex-direction: row; }
        #avatar-input-group input[type='file'] { margin-right: 20px; }
        .checkbox, .radio { flex: 1; }
        .field-validation-error { color: #ff0000; font-size: 11px; }
    </style>

}