@{
    ViewData["Title"] = "Generator Form";
}
@model WebApplication.News

@using NetCore.Web.AutoGenerateHtmlControl

<script>
    //此脚本用于生成编辑器和上传组件的模板代码

    document.addEventListener("DOMContentLoaded", function () {
        //if (hasuploader) {
        //    var uploaders = document.querySelectorAll(".uploader-container");
        //    if (!window.jQuery) {
        //        uploaders.forEach(function (item, _) {
        //            item.innerHTML = '<label style="color:red;">Please install jQuery first.</label>';
        //        });
        //        return;
        //    }
        //    if (!window.WebUploader) {
        //        uploaders.forEach(function (item, _) {
        //            item.innerHTML = '<label style="color:red;">Please install WebUploader first.</label>';
        //        });
        //        return;
        //    }

        //    var css = document.createElement('link');
        //    css.setAttribute("rel", "stylesheet");
        //    css.setAttribute('href', '/auto-generate-html-control/resources/css/uploader.min.css');
        //    document.querySelector('header').appendChild(css);

        //    var lib = document.createElement('script');
        //    lib.setAttribute('src', '/auto-generate-html-control/resources/js/uploader.min.js');
        //    lib.addEventListener("load", function () {
        //        $('#uploader1').InitUploader({});
        //    });
        //    document.querySelector("body").appendChild(lib);
        //}

        //if (haseditor) {
        //    if (window.ClassicEditor) {
        //        ClassicEditor.create(document.querySelector("#editor"),{}).catch(function (err) {
        //            alert(err);
        //        });
        //    }
        //    else {
        //        document.querySelectorAll(".editor-container").forEach(function (item, _) {
        //            item.innerHTML = '<label style="color:red;">Please install CKEditor5 first.</label>';
        //        });
        //    }
        //}
    });

</script>

@await Html.GenerateFormAsync(Context, "/GenerateForm/post", FormMethod.Post, Model, null, @<div class="box-footer text-center"><button class="btn btn-primary">Submit</button></div>, true)


@section Scripts{

    <script src="~/lib/webuploader/dist/webuploader.js"></script>
    <script src="~/lib/ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
    <script src="~/lib/ckeditor/ckeditor5-build-classic/build/translations/zh-cn.js"></script>

    <script>
        //function OnUploaderJsReady() {
        //    alert(1);
        //}
        //console.warn("uploader_LivePhoto", uploader_LivePhoto);

        var timer = setInterval(function () {
            if (uploader_LivePhoto) {
                var options = uploader_LivePhoto.options;
                clearInterval(timer);
                console.warn(options);
                options.onFileQueued = function (file) {
                    console.warn(file.source.source);
                    var url = URL.createObjectURL(file.source.source);
                    var audio = new Audio();
                    audio.src = url;
                    //audio.load();
                    audio.oncanplay = function () {
                        console.warn(audio.duration);
                    }
                }
                options.onUploaded = function (res) {
                    console.warn(res);
                }
                //uploader.onFileQueued = function (e) {
                //    console.warn(e);
                //}
            }
        }, 1000);
        ClassicEditor.defaultConfig = {
            toolbar: {
                items: [
                    'heading',
                    '|',
                    'bold',
                    'italic',
                    'link',
                    'bulletedList',
                    'numberedList',
                    '|',
                    'insertTable',
                    'imageUpload',
                    'blockQuote',
                    '|',
                    'undo',
                    'redo',
                    'sourcecode',
                    'font'
                ]
            },
            ckfinder:
            {
                uploadUrl: "/api/upload?target=editor"
            },
            language: 'zh-cn'
        };

    </script>
}

@section Styles{
    @*<link href="~/lib/webuploader/webuploader.css" rel="stylesheet" />*@
    @*<link href="/resources/auto_generate_html_control/css/uploader.min.css" rel="stylesheet" />*@

    <style>
        .input-group { flex-direction: column; }
        #avatar-input-group { flex-direction: row; }
        #avatar-input-group input[type='file'] { margin-right: 20px; }
        .checkbox, .radio { flex: 1; }
        .field-validation-error { color: #ff0000; font-size: 11px; }
    </style>

}